.loading .img {
  background: url(/public/v/images/icon_loading_36e7b1b.png?) no-repeat;
  background-size: 20px 20px;
}

.loading .img {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 5px;
  animation: anim-rotate 2s infinite linear;
  -moz-animation: anim-rotate 2s infinite linear;
  -webkit-animation: anim-rotate 2s infinite linear;
  -o-animation: anim-rotate 2s infinite linear;
}

.last-wicket {
    background-color: white;
    margin: 10px 0;
}

.lw-player-info {
    padding: 6px 10px;
    color: #666;
}

.lw-player-info .last-wicket-name{
    display: inline-block;
    color: #1997E9;
}

.lw-match-info {
    height: 30px;
    position: relative;
    line-height: 34px;
    padding: 0 10px;
    margin-top: -8px;
    color: #666;
}

.lw-match-info .last-wicket-url {
    display: inline-block;
    position: absolute;
    right: 12px;
    color: #1997E9;
}

.wicket-list-overlay,.wicket-list-dummy {
    position: fixed;
    left: 0px;    
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}

.wicket-list-dummy {
    background-color: #333; 
    opacity: 0.5;
}

.wicket-list {
    width:250px;
    margin: 45px auto;
    background-color: #fff;
    text-align:center;
    opacity: 1.0;
}

.wicket-list .wl-title {
    height: 30px;
    line-height: 34px;
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    position:relative;
    color: #666;
}

.wicket-list li {
    height: 30px;
    line-height: 34px;
    position: relative;
    color: #666;
}

.wicket-list li:nth-child(odd) {
    background-color: #F9F9F9;
}

.wicket-list li .wl-name {
    position: absolute;
    left: 0px;
    width: 60%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wicket-list li .wl-name .wl-order{
    display: inline-block;
    width: 20px;
    text-align: center;
    color: #999;
}

.wicket-list li .wl-score {
    position: absolute;
    right: 10px;
}

.wicket-list .wl-close-btn {
    display: inline-block;
    background-color: #1997E9;
    border-radius: 4px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: 7px 10px 5px 10px;
}

.wicket-list .top-close-btn {
    width: 8px;
    height: 8px;
    padding: 15px;
    display: inline-block;
    background: url(img/popup-close.png?) no-repeat center;
    background-size: 8px 8px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99;
}